snippet ads
		   name: ${1}
		     coordAtomIds: [${2}]
		     stemAtomIds: [${3}]
		     planeAtomIds: [${4}]
		     plane_angle: ${5}
		     stem_angle_at_coord: ${6}
		     bSym: ${7}
		     upperAtomId: ${8}
		     atomNums: ${9}
		     pathName: ${10}

snippet element
  - symbol: ${1}
    atomic_number: ${2}
    LCAO: ${3}
    mass: ${4}
    potential: ${5}
    spin: ${6}
    covalent_radius: ${7}

